p{
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.rosso
{
   color: rgb(224, 24, 24); 
}

.button17 {
    display: inline-block;
    height: 100px;
    width: 300px;
    font-family: arial,sans-serif;

    font-size: 11px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    }
    
.vic{
    font-size: xx-large;
    color: rgb(6, 6, 141);
    font-family: Cambria;
}